[report]
exclude_lines =
        pragma: no cover
        if __name__ == .__main__.:
        def __repr__
        def __eq__
        def __lt__
        raise RuntimeWarning
        raise NotImplementedError
        except ImportError:
        @abstractmethod
        @abc.abstractmethod

omit =
        fast1dkmeans/tests/*

# pytest --cov fast1dkmeans --cov-report html .